.nav__foot{
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    p{
        text-align: center;
        color: rgba(255,255,255,0.5);
        font-size: 24px;
        a{
            color: inherit;
            text-decoration: none;
        }
    }
}

@media only screen and (min-width: 750px) {
    .nav__foot{
        bottom: 0;
    }
}